@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-navy text-brand-slate font-sans antialiased selection:bg-brand-teal selection:text-brand-navy;
    background-color: #0a192f;
    /* Fallback/Debug */
  }
}

@layer utilities {
  .glass {
    @apply bg-brand-navy/80 backdrop-blur-md border border-white/10;
  }

  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-brand-blue to-brand-teal;
  }
}